@font-face {
	font-family: 'icomoon';
	src:url('fonts/icomoon.eot');
	src:url('fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('fonts/icomoon.woff') format('woff'),
		url('fonts/icomoon.ttf') format('truetype'),
		url('fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

body{
	background: #F7F7F7;
	font-family: 'Open Sans Condensed';
}

footer{
	border-top: solid 5px #538bab;
	background: #043D5E;
	height: 160px;
}

footer p{
	color: #929699;
	text-align: center;
	margin: 0 0 1em 0;
}

footer p:first-child{
	color: #c4c4c4;
	text-align: center;
	margin: 2em 0 0.2em 0;
}

footer p:after{
	content: " -";
}

footer p span
{
	font-weight: bold;
}

footer p span:before{
	content: "- ";
}
footer p span:after{
	content: " -";
}

header{
	/*background: #056DA9;*/
	background: url("../images/bg.png") repeat center bottom;
	border-bottom: solid 5px #155D86;
	height: 40px;
	position: relative;
}

header figure{
	position: absolute;
	bottom: -78%;
	right: 45px;
}

header h2{
	color: white;
	display: inline-block;
	font-size: 25px;
	margin: 0.15em 0;
	font-weight: 100;
}

header h2,
header #logo{
	display: inline-block;
	vertical-align: top;
}

header figure #avatar{
	border-radius: 50%;
	position: relative;
	width: 50px;
	z-index: 1;
}

header #logo{
	width: 33px;
	margin: 0.25em;
}

header figure #avatar_flechita{
	position: absolute;
	top: 18%;
	left: 20px;
	background: #3d3d3d;
	width: 30px;
	padding: 0.5em 1em;
	margin: 0;
	border-radius: 3px;
	text-align: right;
	color: white;
}


nav{
	background: #E1E1E1;
	margin:0;
	padding: 0;
	box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

nav ul{
	margin:0;
	padding: 0;
	display: inline-block;
	padding: 0.1em;
}

nav ul a li{
	border-radius: 30%;
	display: inline-block;
	font-size: 14px;
	list-style: none;
	margin: 0 0 .1em .2em;
	padding: 0.7em 0.65em;
	transition:all 0.5s ease;
}
nav ul a .nav_not{
	background: #f9966a;
	border: solid 1px #dc845d; 
}

nav ul a .nav_not:hover{
	background: #dc845d;
}

nav ul a .nav_bus{
	background: #D1D1D1;
	border: solid 1px #BDBDBD;
	display: none; 
}

nav ul a .nav_bus:hover{
	background: #65a7cd;
}

nav ul a{
	text-decoration: none;
	color:#f1f1f1;
}

nav #nav_buscador{
	border: solid 1px #ccc;
	padding: 0.4em 0.5em;
	margin: 0.05em 120px 0.3em 0;
	border-radius: 3px;
	float: right;
	background: #F8F8F8;
}

#cursos{
	margin:1em;
}

#cursos h1{
	color: #878787;
	font-size: 24px;
	font-weight: normal;
	text-transform: uppercase;
	border-bottom: solid 1px #d5d5d5;
}

.curso{
	min-height: 150px;
	background: #FBFBFB;
	width: auto;
	border: solid 1px #efefef;
	margin: 0 auto 15px auto;
	border-radius: 3px;
	box-shadow: 0 0 15px rgba(0,0,0,0.2);
	position: relative;
	color:#929292;
}

.curso .curso_texto{
	padding: 20px;
	width: auto;
}

.curso .curso_texto h2{
	margin: 0 0 0.4em 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: solid 1px #d7d7d7;
}

.curso .curso_texto p{
	margin: 0;
	text-align: center;
}

.curso figure{
	width: auto;	
	min-height: 100px;
	background-size: cover;
	background-position: center;
}

/*
.curso{
	min-height: 150px;
	width: auto;
	background: #f5f5f5;
	border: solid 1px #efefef;
	border-radius: 3px;
	margin: 0 auto;
	margin-bottom: 15px;
	box-shadow: 0 0 20px rgba(0,0,0,0.3);
	position: relative;
}

.curso .curso_texto{
	padding: 20px;
	width: auto;
}

.curso .curso_texto h2{
	margin: 0 0 0.4em 0;
	font-size: 18px;
	text-transform: uppercase;
	text-align: center;
	border-bottom: solid 1px #d7d7d7;
	display: block;
}

.curso .curso_texto p{
	margin: 0;
	text-align: center;
}

.curso figure{
	width: auto;	
	min-height: 100px;
	background-size: cover;
	background-position: center;
}

.curso .url{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
	z-index: 4;
}
*/



.icon-abajo:before {
	content: "\e600";
}
.icon-carta:before {
	content: "\e601";
}
.icon-campana:before {
	content: "\e602";
}
.icon-lupa:before {
	content: "\e603";
}

@media screen and (max-width: 450px){
	nav ul a .nav_bus{
		display: inline-block;
	}
	nav #nav_buscador{
		display: none;
	}

}

@media screen and (min-width: 850px){
	.curso{
		width: 80%;
	}

	.curso figure{
		position:absolute;
		width: 50%;
		right: 0;
		top: 0;
		bottom: 0;
	}

	.curso .curso_texto{
		width: 50%;
		box-sizing: border-box;

	}

}